TwitterHdfsAgent.sources=TwitterSource
TwitterHdfsAgent.sinks=HdfsSink
TwitterHdfsAgent.channels=MemoryChannel

TwitterHdfsAgent.sources.TwitterSource.type=org.apache.flume.source.twitter.TwitterSource
TwitterHdfsAgent.sources.TwitterSource.consumerKey=
TwitterHdfsAgent.sources.TwitterSource.consumerSecret=
TwitterHdfsAgent.sources.TwitterSource.accessToken=
TwitterHdfsAgent.sources.TwitterSource.accessTokenSecret=


TwitterHdfsAgent.sinks.HdfsSink.type=hdfs
TwitterHdfsAgent.sinks.HdfsSink.hdfs.path=/user/cloudera/hdfs-twitter
TwitterHdfsAgent.sinks.HdfsSink.hdfs.fileType=DataStream
TwitterHdfsAgent.sinks.HdfsSink.hdfs.writeFormat=Text
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollSize=2048
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollInterval=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollCount=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.callTimeout=10000


TwitterHdfsAgent.channels.MemoryChannel.type=memory
TwitterHdfsAgent.channels.MemoryChannel.capacity=1000
TwitterHdfsAgent.channels.MemoryChannel.transactionCapacity=200


TwitterHdfsAgent.sources.TwitterSource.channels=MemoryChannel
TwitterHdfsAgent.sinks.HdfsSink.channel=MemoryChannel
