TwitterHdfsAgent.sources=TwitterSource
TwitterHdfsAgent.sinks=HdfsSink
TwitterHdfsAgent.channels=MemoryChannel

TwitterHdfsAgent.sources.TwitterSource.type=org.apache.flume.source.twitter.TwitterSource
TwitterHdfsAgent.sources.TwitterSource.consumerKey=Bv1TF7OJhvpoxlyKkfyOMy5ko
TwitterHdfsAgent.sources.TwitterSource.consumerSecret=Sga32xxdyzfOfX2qTffL0dTFP0DGRZbUmC89Ysc5k05RUyesEB
TwitterHdfsAgent.sources.TwitterSource.accessToken=586458598-DnXp9Ulp0gkBYVkbYBOeTT7n8NkDneXdRkKmCo8G
TwitterHdfsAgent.sources.TwitterSource.accessTokenSecret=OslkcLXwC8UBue0uMX5MCoIg4DVqLDLmJgObATtjDy107


TwitterHdfsAgent.sinks.HdfsSink.type=hdfs
TwitterHdfsAgent.sinks.HdfsSink.hdfs.path=/user/cloudera/hdfs-twitter
TwitterHdfsAgent.sinks.HdfsSink.hdfs.fileType=DataStream
TwitterHdfsAgent.sinks.HdfsSink.hdfs.writeFormat=Text
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollSize=2048
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollInterval=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollCount=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.callTimeout=10000


TwitterHdfsAgent.channels.MemoryChannel.type=memory
TwitterHdfsAgent.channels.MemoryChannel.capacity=1000
TwitterHdfsAgent.channels.MemoryChannel.transactionCapacity=200


TwitterHdfsAgent.sources.TwitterSource.channels=MemoryChannel
TwitterHdfsAgent.sinks.HdfsSink.channel=MemoryChannel





