NetCatLogger.sources=NetcatSource
NetCatLogger.sinks=LoggerSink
NetCatLogger.channels=FileChannel

NetCatLogger.sources.NetcatSource.type=netcat
NetCatLogger.sources.NetcatSource.bind=localhost
NetCatLogger.sources.NetcatSource.port=56525

NetCatLogger.sources.NetcatSource.interceptors=r1 h1 t1 s1

NetCatLogger.sources.NetcatSource.interceptors.r1.type=regex_filter
NetCatLogger.sources.NetcatSource.interceptors.r1.regex=developer
NetCatLogger.sources.NetcatSource.interceptors.r1.excludeEvents=true

NetCatLogger.sources.NetcatSource.interceptors.h1.type=host

NetCatLogger.sources.NetcatSource.interceptors.t1.type=timestamp

NetCatLogger.sources.NetcatSource.interceptors.s1.type=static
NetCatLogger.sources.NetcatSource.interceptors.s1.key=Datacentre
NetCatLogger.sources.NetcatSource.interceptors.s1.value=US


NetCatLogger.sinks.LoggerSink.type=logger


NetCatLogger.channels.FileChannel.type=file

NetCatLogger.sources.NetcatSource.channels=FileChannel
NetCatLogger.sinks.LoggerSink.channel=FileChannel

