ExecLoggerAgent.sources=ExecSource
ExecLoggerAgent.sinks=LoggerSink
ExecLoggerAgent.channels=MemoryChannel

ExecLoggerAgent.sources.ExecSource.type=exec
ExecLoggerAgent.sources.ExecSource.command= cat /home/enes/employee.txt


ExecLoggerAgent.sinks.LoggerSink.type=logger


ExecLoggerAgent.channels.MemoryChannel.type=memory
ExecLoggerAgent.channels.MemoryChannel.capacity=1000
ExecLoggerAgent.channels.MemoryChannel.transactionCapacity=200

ExecLoggerAgent.sources.ExecSource.channels=MemoryChannel
ExecLoggerAgent.sinks.LoggerSink.channel=MemoryChannel
