SpoolHdfsAgent.sources=SpoolSource
SpoolHdfsAgent.sinks=HdfsSink
SpoolHdfsAgent.channels=MemoryChannel

SpoolHdfsAgent.sources.SpoolSource.type=spooldir
SpoolHdfsAgent.sources.SpoolSource.spoolDir=/home/cloudera/spoolDir


SpoolHdfsAgent.sinks.HdfsSink.type=hdfs
SpoolHdfsAgent.sinks.HdfsSink.hdfs.path=/user/cloudera/hdfs-spool
SpoolHdfsAgent.sinks.HdfsSink.hdfs.writeFormat=Text
SpoolHdfsAgent.sinks.HdfsSink.hdfs.fileType=DataStream

SpoolHdfsAgent.channels.MemoryChannel.type=memory
SpoolHdfsAgent.channels.MemoryChannel.capacity=1000
SpoolHdfsAgent.channels.MemoryChannel.transactionCapacity=200

SpoolHdfsAgent.sources.SpoolSource.channels=MemoryChannel
SpoolHdfsAgent.sinks.HdfsSink.channel=MemoryChannel


